*.DS_Store
*~
*RData
*Rhistory
experiments/node_modules/
models/node_modules/
.Rproj.user
*.aux
*.log
*.bbl
*.blg
*.synctex.gz
*.sublime-*
packrat/lib*/
packrat/src/
localdump/
auth.json
credentials.py
credentials.pyc
